<html>

<head>
<style>
p {
  text-indent: 5px;
  text-align: justify;
  color: green;

}
a {
  text-indent: 5px;
  text-align: justify;
  color: red;

}

</style>
</head>



<body>

<div class="content">
    <h1><em>Recommendation engine 69420 (stfu abt the ui alredy)</em>  </h1>

    <p>//NOTE:Give input like: </p>
    <a>vegetarian,carrot,beans,capsicum   //can also use v for vegetarian , n for nonveg ..fkdis</a>
    <br><br>
    <form action="/" method="POST" autocomplete="off">
        <input type="text" name="content" id="content">
        <input type="submit" value="Recommend Food">
    </form>
    <td>{{food}}<td>

</div>
</body>
</html>